.today{
 margin: 0 3rem;
 color: #000;
 font-weight: 700;
}

 caption {
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 0.3rem;
}

.today table {
 border-collapse: collapse;
}

 .today th, .today td {
  border: 1px solid #000;
  width: 25%;
}

 .today td{
  padding: 0.5rem;
 }

 .img{
  width: 6rem;
  height: 3rem;
 }

 #one{
  background-color: yellow;
 }

 #two{
  background-color: green;
 }

 #three{
  background-color: red;
 }

 @media (min-width: 900px) and (max-width: 970px) {
  .today{
   margin: 0 20rem;
  }
 }

 @media (min-width: 550px) and (max-width: 900px) {
  .today{
   margin: 0 17rem;
  }
 }
 
 @media (min-width: 500px) and (max-width: 750px) {
  .today{
   margin: 0 10rem;
  }
 }

 @media (min-width: 500px) and (max-width: 550px) {
  .today{
   margin: 0 8rem;
  }
 }


 @media (max-width: 300px) {
  .today{
   margin: 0 auto;
  }
 }